<html>
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
<header>
    <h1>Welcome to My Website, my name is <%= myName %></h1>
    <p>Where you can find all the information you need.</p>
</header>
<main>
    <section>
        <h2>About Us</h2>
        <p>This is the about section of your website. You can write a brief description of your website here.</p>
    </section>
    <section>
        <h2>Contact Us</h2>
        <p>If you have any questions, feel free to <a href="contact.html">contact us</a>.</p>
    </section>
</main>
<div class="blogs content">
    <h2>All Blogs</h2>

    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>

        <h3 class="title"><%= blog.title %></h3>
        <p class="snippet"><%= blog.snippet %></p>

      <% }) %>
    <% } else { %>
      <p>There are no blogs to display...</p>
    <% } %>
    
  </div>
<footer>
    <p>&copy; 2023 Your Website Name</p>
</footer>
</body>
</html>